[submodule "ROS_Telemetry/PUTM_DV_CAN_LIBRARY_MULTIPLE_SOCKETS"]
	path = ROS_Telemetry/PUTM_DV_CAN_LIBRARY_MULTIPLE_SOCKETS
	url = git@github.com:PUT-Motorsport/PUTM_DV_CAN_LIBRARY_MULTIPLE_SOCKETS.git
